h1,h3{
  text-align: center;
  font-family: 'Baloo Bhai', cursive;

}
.come{
  text-align: center;
}

body{
  background-image: url("img/bkr.gif");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.hide{
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
   display: none;
}

.cosy,footer{
  text-align: center;
}

.fa fa-home{
  background-color: blue;
}
.footer{
  color: red;
}
